body {
  background-color: white;
  font-family: 'Exo 2', sans-serif;
}

div {
  display: block;
}

.navigation {
  font-family: 'Josefin', sans-serif;
  margin: 10px 10px;
  padding: 0;
  border: 3px;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  color: hsl(136, 23%, 50%);
}

#banner {
  background-image: url("../images/percywarner.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  opacity: .6;
  width: 100%;
}

#banner .content h1 {
  font-family: 'Raleway', sans-serif;
  border: 2px solid hsl(206, 100%, 21%);
  position: relative;
  top: 260px;
  width: 340px;
  margin: 0 auto;
  padding: 3px;
}

.underbanner {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
  display: table;
  list-style: none;
}

.grid_item {
  float: left;
  vertical-align: top;
  box-sizing: border-box;
  width: 33%;
}

.grid_img {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 33%;
  margin: 20px 0;
  height: 250px;
}

img {
  height: 250px;
  width: 400px;
  border: 0 none;
  padding: 5px;
  opacity: .75;
}

#main {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: relative;
  position: relative;
  width: cover;
  height: 1000px;
  overflow: scroll;
}

h1 {
  color: hsl(206, 100%, 21%);
  background-color: white;
  opacity: .6;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px solid hsl(136, 23%, 80%);
  color: hsl(203, 51%, 45%);
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: hsl(203, 51%, 45%);
  border: 1px solid hsl(203, 51%, 45%);
  font-size: 26px;
  font-weight: 700;
  padding: 20px 5px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: hsl(206, 100%, 21%);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  position: relative;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  font-family: 'Raleway', sans-serif;
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: hsl(203, 51%, 45%);
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid hsl(136, 23%, 80%);
  color: hsl(136, 23%, 80%);
}
